


/* Functional color variables*/
$white: #ffffff;
$dark-blue: #3853d8;
$lg-grey:#f5f5f5;
$darknest-blue:#0021c4;
$brown:#363637;
$grey:#999999;
$btn-grey:#cccccc;
$light-grey:#dddddd;
$violet:#3853d8;
$black:#000000;
$light-brown:#d4bdad;
$dark-grey:#f5f5f5;
$yellow:#f2b309;
$red:#f44336;
$light-yellow:#ffeb3b;
$green:#4caf50;
$dark-red:#cc3333;
$brown-l:#d4bfae;
$filter-blue:#455eda;

/*=====Colors for filter===*/

$color1:white;
$color2:#f44336;
$color3:#ffeb3b;
$color4:#4caf50;
$color5:#2196f3;
$color6:#9c27b0;
$color7:#8bc34a;
$color8:#ff9800;

/* Font stacks*/
$bold: bold;
$play:'Playfair Display', serif;
$monte:'Montserrat', sans-serif;
$popins:'Poppins', sans-serif;


